.App {
  text-align: center;
  color: brown;
  height: 100vh;
  padding: 10px;
  font-size: 2em;
  background-color: lightgray;
  padding-top: 2em;
}


.drag {
  background-color: dodgerblue;
  width: 30%;
  margin: 2em;
  height: 3em;
  padding: 1em;
  text-align: left;
  color: lightcyan;
}