*, *::before, * ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  color: brown;
  height: 100vh;
  font-size: 1.5em;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
}
.list_caption {
  width: calc(25% - 3em);
  margin: 0 1.5em;
  list-style-type: none;
  font-weight: bold;
  color: dodgerblue;
}
/*.drag {*/
/*  background-color: dodgerblue;*/
/*  width: 30%;*/
/*  margin: 2em;*/
/*  height: 3em;*/
/*  padding: 1em;*/
/*  text-align: left;*/
/*  color: lightcyan;*/
/*}*/