*, *::before, * ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  color: brown;
  min-height: 100vh;
  font-size: 1.5em;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
}
.list_caption {
  width: calc(25% - 3em);
  margin:  1.5em;
  list-style-type: none;
  font-weight: bold;
  color: dodgerblue;
}
.list_cell {
  width: calc(25% - 3em);
  margin: 0 1.5em;
  height: 150px;
  list-style-type: none;
  box-shadow: 0 0 7px 5px rgba(0,0,0,0.2);
  background-color: whitesmoke;
  overflow: hidden;
}
.list_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  cursor: all-scroll;
}
.list_card-header {
  font-weight: bold;
  padding: 12px 15px;
  background-color: lightblue;
  color: lightcyan;
}
.list_card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 12px 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;

}
.hide {
  display: none;
}
.hover {
  background-color: lightcyan;
}
.square {
    background-color: lightblue;
    width: 80px;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.2);
    font-size: 16px;
    text-align: center;
    color: darkslategray;
}
hr {
    margin-bottom: 2em;
    background-color: grey;
    color: red;
    height: 3px;
}
.drop_zone {
    border: dashed 2px lightblue;
    background-color: whitesmoke;
    width: 50vw;
    height: 300px;
    margin: 25px;
    float: left;
}
button {
    margin: 2em;
    background-color: dodgerblue;
    color: oldlace;
    border: lightblue 2px solid;
    padding: 0.3em;
    float: right;
}
#result {
    float: right;
}
#page-number {
    float: right;
    margin: 2em;
    width: 60px;
    height: 20px;
}